* {
	margin: 0;
}

header {
	background-color: #212121;
	padding: 40px 155px;
}

section.Content {
  	background-color: #2a2a2a;
	padding: 15px;
	text-align: center;
}

div.logo{
	margin:0 100px;
}

div.logo img{
	width: 70px;
	height: auto;
}

div.nav {
	display: inline-flex;
}

ul li {
	display: inline-block;
}

ul.navbar{
	float: left;
}

div.nav ul li a:hover{
	color: #a25451 ;
}

div.nav ul li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: white;
	padding-left: 50px;
}

div.nav ul li a.active {
	color: #a25451 ;
}

div.we {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: inherit;
}

div.main{
	text-align: center;
	font-size: 18px;
	color: #dadada;
}

span.Webpaint {
	font-weight: 900;
	color: #dadada;
	font-size: 45px;
}

div.parag p {
	
	text-align: center;
	color: #dadada;
	font-style: italic;
	font-family: 'Lato';
	font-weight: 300;
	font-size: xx-large;
}

div.bttn {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	
}

	button.btn {
		background-color: #f67468;
		border: none;
		color: white;
		font-weight: bold;
		padding: 10px 30px;
		text-align: center;
		font-size: 10px;
		border-radius: 4px; 
		min-width: 0;  
	}

	.btn:hover {
		background-color: #595959;
		color: white;
	}

	#active-all {
		background-color: #595959;
		color: white;
	}

section.services {
	background-color: #f8f8f8;
	padding: 10px;
	padding-top: 40px;
}
	.services ul {
		text-align: center;
	}

	.services ul li {
		width: 250px;
		height: 165px;

	}

	h1.titel {
		margin-top: 10px;
		font-weight: 700;
	}
	
	p.text, h1.titel {
		opacity: 0.5;
		text-align: center;
		margin-bottom: 5px;
		font-family: 'Lato';
	}


section.portfolio {
	text-align: center;
	font-family: 'Lato';


}

	.portfolio h1 {
		margin-top: 35px;
		color: #616161;
		font-weight: 900;
		font-size: x-large;
	}

	.portfolio p {
		margin-top: 15px;
		color: #616161;
		font-size: small;
		font-size: 20px;
		opacity: 0.55;
	}
	.portfolio div.buttons {
		margin-top: 35px;
	}
	.portfolio div.images {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	img.img:hover {
		transform: translateY(10px);
	}

section.foot {
	background-color: #2a2a2a;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
	font-size: 10px;
	font-family: 'Lato';
}
	section.foot h1{
		font-weight: 900;
		margin-bottom: 10px;
		padding-top: 30px;
		font-size: 20px;
		color: #dadada;
	}

	div.adress, div.tele {
		display: inline-flex;
	}

	div.adress {
		padding-right: 20px;
	}

	img.phone  {
		width: 10px;
		height: auto;
		float: left;
		padding-right: 5px;
	}

	img.map {
		width: 5px;
		height: auto;
		float: left;
		padding-right: 5px;
	}

	div.info {
		padding-top: 10px;
		color: #616161;
	}
	p#par {
		font-size: 15px;
		color: #616161;
	}

	div.social ul li {
		padding-top: 15px;
		padding-bottom: 30px;
		padding-right: 5px;
	}

	img.icon:hover {
		transform: translateY(5px);
	}

footer {
	background-color: #212121;
	color: #616161;
	font-family: 'Lato';
	text-align: center;
	padding: 30px 30px;
	font-size: x-small;

}
